<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552149081614-dn0v5tatuiv0b50ak34kocq7mu551o9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552149081614-dn0v5tatuiv0b50ak34kocq7mu551o9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552149081614-abab6ti7jichgb3g9ofu8s3hk5uhq8k1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfB56LK-e0a8wnBY79sB1gO2F7vUEdwic</string>
	<key>GCM_SENDER_ID</key>
	<string>552149081614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirebaseCrud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-53a67</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-53a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552149081614:ios:8cf95104e8c137ae12665f</string>
</dict>
</plist>